
{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% block head_title %}{% trans "Login" %}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2>{% trans "Login" %}</h2>
      <form method="post" action="{% url 'account_login' %}" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
      </form>
      <hr>
      <h3>{% trans "Or sign in with" %}</h3>
      <a href="{% provider_login_url 'line' %}" class="btn btn-light">{% trans "Login with Line" %}</a>
    </div>
  </div>
</div>
{% endblock %}

